
@{
    ViewBag.Title = "Kitchen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kitchen</h2>
<p>
    Luckily you had been drinking during the morning so you hadn't yet returned your assortment of weapons laid out on the counter. Something you do every night before bed. As everyone should.
</p>

<p>
    Door busts open and smoke fills the entryway. All of a sudden an elderly women's figure appears. Chose Quickly!!
</p>

<script>
    function myTimer() {
        alert('BANG! BANG! BANG!  Too long you are dead');
        location = "/Dead/TooLong";
    }
    setTimeout(myTimer, 30000);
</script>

<div>
    <button class="btn btn-info" type="button" id="kryptonite" onclick="location.href = '@Url.Action("Kryptonite", "Dead")'" />
    Kryptonite
</div>
<br>
<div>
    <button class="btn btn-info" type="button" id="katana" onclick="location.href = '@Url.Action("Katana", "Dead")'" />
    Katana
</div>
<br>
<div>
    <button class="btn btn-info" type="button"  id="mikeTyson" onclick="location.href = '@Url.Action("MikeTyson", "Fight")'" />
    Mike Tyson
</div>
<br>
<div>
    <button class="btn btn-info" type="button" id="ak47" onclick="location.href = '@Url.Action("AK47", "Fight")'" />
    AK-47 (Fully Loaded)
</div>
<br>
<div>
    <button class="btn btn-info" type="button" id="computer" onclick="location.href = '@Url.Action("Computer", "Fight")'" />
    A Computer
</div>
