@{
    ViewBag.Title = "Driveway";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose your escape vehicle</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 zoom_img">
            <a href="@Url.Action("Index","Home")">
                <img src="~/Content/Images/timemachine.jpg">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 zoom_img">
            <a href="@Url.Action("Troll")">
                <img src="~/Content/Images/car.jpg"/>
            </a>
        </div>
        <div class="col-md-6 zoom_img">
            <a href="@Url.Action("Walk","Dead")">
                <img src="~/Content/Images/walk.jpg"/>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 zoom_img">
            <a href="@Url.Action("Unicycle", "Dead")">
                <img src="~/Content/Images/unicycle.jpg" />
            </a>
        </div>
        <div class="col-md-6 zoom_img">
            <a href="@Url.Action("Dragon", "Dead")">
                <img src="~/Content/Images/dragon.jpg" />
            </a>
        </div>
    </div>
</div>